<div class="fixed left-0 header-top w-full z-30">
  <div class="px-safe border-b border-green-700 bg-white shadow">
    <div class="relative w-full mx-auto px-12">
      <!-- <ng-container *ngIf="profile$ | async as profile">
        <button type="button" class="absolute inset-y-0 left-0 w-12 h-12 p-2 border-0 flex items-center" (click)="toggleMenu()">
          <img [src]="profile.photoURL || 'https://via.placeholder.com/150'" class="w-8 h-8 rounded-full mr-2 flex items-center object-cover" alt="">
          <span class="absolute right-0 top-0 w-1 h-1 m-3 rounded-full bg-red-600"></span>
        </button>
      </ng-container> -->
      <div class="absolute inset-y-0 left-0 flex">
        <a [routerLink]="['/goods']" routerLinkActive="bg-gray-300" class="block p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2f855a" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <rect x="4" y="4" width="16" height="6" rx="2" />
            <rect x="4" y="14" width="16" height="6" rx="2" />
          </svg>
        </a>
      </div>
      <h1 class="h-12 p-3 text-center font-bold text-green-700 ellipsis">
        <ng-container *ngIf="title$ | async as title; else defaultTemplate">
          <span>{{ title.type === 'etc' ? title.body : '세컨드마켓@' }}</span>
          <span *ngIf="title.type === 'group'" class="uppercase">{{ title.body }}</span>
        </ng-container>
        <ng-template #defaultTemplate>
          <span>세컨드마켓</span>
        </ng-template>
      </h1>
      <div class="absolute inset-y-0 right-0 flex">
        <a [routerLink]="['/preference']" routerLinkActive="bg-gray-300" class="p-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2f855a" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="7" r="4" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          </svg>
          <span class="absolute right-0 top-0 w-1 h-1 m-3 rounded-full bg-red-600" *ngIf="(newMessages$ | async) > 0"></span>
        </a>
      </div>
    </div>
  </div>
</div>
