<div class="flex flex-col justify-center items-center min-h-screen">
  <div class="h-safe-top"></div>
  <div class="animate-spin">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-disc" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#2f855a" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <circle cx="12" cy="12" r="9" />
      <circle cx="12" cy="12" r="1" />
      <path d="M7 12a5 5 0 0 1 5 -5" />
      <path d="M12 17a5 5 0 0 0 5 -5" />
    </svg>
  </div>
  <p class="text-green-900">프로필 변경중</p>
</div>
