<div class="w-full max-w-xl py-2 mx-auto">
  <h2 class="flex justify-between">
    <a [routerLink]="['preference/profile']" class="flex">
      <ng-container *ngIf="profile$ | async as profile">
        <img [src]="profile.photoURL || 'https://via.placeholder.com/150'" class="w-8 h-8 mr-2 flex items-center" alt="">
        <span class="flex items-center whitespace-no-wrap overflow-hidden flex-shrink flex-grow">
          <span class="block text-sm ellipsis">{{ profile.displayName }} 프로필 설정</span>
        </span>
      </ng-container>
    </a>
  </h2>

  <div class="bg-white shadow">
    <ul class="mb-4">
      <li>
        <a
          class="block p-2 text-gray-700"
          [routerLink]="['preference', 'write-goods']">등록한 상품({{ writeGoodsCount$ | async }})</a>
      </li>
      <li class="border-t border-gray-300">
        <a
          class="block p-2 text-gray-700"
          [routerLink]="['preference', 'favorite-goods']">관심 상품({{ favoriteGoodsCount$ | async}})</a>
      </li>
    </ul>
  </div>

  <div class="bg-white shadow">
    <h2 class="p-2 text-gray-800">프로필 전환</h2>
    <ul *ngIf="profileExts$ | async as profileExts">
      <li class="border-t border-gray-300" *ngFor="let profileExt of profileExts">
        <button
          type="button"
          [disabled]="(selectedProfileId$ | async) === profileExt.id"
          (click)="onClickSelectProfile(profileExt)"
          class="flex justify-between items-center w-full p-2 border-0 bg-transparent text-gray-800">
          <img [src]="profileExt.photoURL || 'https://via.placeholder.com/150'" class="w-8 h-8 rounded-full mr-2" alt="">
          <span class="flex-grow text-left text-sm ellipsis">{{ profileExt.displayName }}</span>
          <span class="inline-block px-2 py-1 bg-green-600 text-white text-xs leading-tight uppercase">
            {{ profileExt.group.id }}
            {{ (selectedProfileId$ | async) === profileExt.id ? '선택됨' : '' }}
          </span>
        </button>
      </li>
    </ul>
    <a [routerLink]="['preference/groups']" class="block p-2 bg-green-600 text-white text-center text-sm">그룹추가</a>
  </div>
</div>
