<div app-header class="sticky safe-top z-30"></div>
<div class="max-w-xl mx-auto p-2">
  <ng-container *ngIf="(profile$ | async) as profile else signInTemplate">
    <h2 class="flex justify-between">
      <a [routerLink]="['preference/profile']" class="flex">
        <img [src]="'https://via.placeholder.com/150'" class="w-8 h-8 mr-2 flex items-center" alt="">
        <span class="flex items-center whitespace-no-wrap overflow-hidden flex-shrink flex-grow">
          <span class="block text-sm ellipsis">{{ profile.displayName }} 프로필 설정</span>
        </span>
      </a>
    </h2>

    <ul class="mb-4">
      <li><a [routerLink]="['preference/profile']">알림({{ noticeCount$ | async }})</a></li>
      <li><a [routerLink]="['preference/profile']">등록한 물품({{ writeGoodsCount$ | async }})</a></li>
      <li><a [routerLink]="['preference/profile']">관심 물품({{ favoriteGoodsCount$ | async}})</a></li>
    </ul>

    <ul>
      <li><a [routerLink]="['groups', profile.groupId, 'goods']">상품목록</a></li>
      <li><a [routerLink]="['groups', profile.groupId, 'goods','new', 'edit']">상품등록</a></li>
      <li><a [routerLink]="['preference/groups']">그룹설정</a></li>
    </ul>

    <div>
      <h2 class="p-2 text-blue-700">프로필 전환</h2>
      <ul class="border border-blue-500 bg-white" *ngIf="userProfileList$ | async as userProfileList">
        <li class="border-blue-500 border border-l-0 border-r-0 border-b-0" *ngFor="let userProfile of userProfileList">
          <ng-container *ngIf="userProfile.profileId | fsDocument:'profiles' | async as profile">
            <ng-container *ngIf="profile.groupId | fsDocument:'groups' | async as group">
              <button
                type="button"
                [disabled]="(selectedProfileId$ | async) === profile.id"
                (click)="onClickSelectProfile(profile)"
                class="flex justify-between items-center w-full p-2 border-0 bg-transparent text-blue-700">
                <img [src]="profile.photoURL || 'https://via.placeholder.com/150'" class="w-8 h-8 rounded-full mr-2" alt="">
                <span class="flex-grow text-left text-sm ellipsis">{{ profile.displayName }}</span>
                <span class="inline-block px-2 py-1 bg-blue-500 text-white text-xs leading-tight uppercase">
                  {{ group.name }}
                  {{ (selectedProfileId$ | async) === profile.id ? '선택됨' : '' }}
                </span>
              </button>
            </ng-container>
          </ng-container>
        </li>
      </ul>
    </div>

    <div>
      <a class="block btn btn-sm" (click)="onClickSignOut($event)">sign-out</a>
    </div>
  </ng-container>

  <ng-template #signInTemplate>
    <a [routerLink]="['sign-in']">sign-in</a>
  </ng-template>
</div>
