<div class="w-full max-w-xl py-2 mx-auto">
  <ng-container *ngIf="(profile$ | async) as profile">
    <h2 class="flex justify-between">
      <a [routerLink]="['preference/profile']" class="flex">
        <img [src]="'https://via.placeholder.com/150'" class="w-8 h-8 mr-2 flex items-center" alt="">
        <span class="flex items-center whitespace-no-wrap overflow-hidden flex-shrink flex-grow">
          <span class="block text-sm ellipsis">{{ profile.displayName }} 프로필 설정</span>
        </span>
      </a>
    </h2>

    <div class="bg-white shadow">
      <ul class="mb-4">
        <li>
          <a
            class="block p-2 text-gray-700"
            [routerLink]="['preference/profile']">등록한 물품({{ writeGoodsCount$ | async }})</a>
        </li>
        <li class="border-t border-gray-300">
          <a
            class="block p-2 text-gray-700"
            [routerLink]="['preference/profile']">관심 물품({{ favoriteGoodsCount$ | async}})</a>
        </li>
      </ul>
    </div>

    <!-- <ul>
      <li><a [routerLink]="['groups', profile.groupId, 'goods']">상품목록</a></li>
      <li><a [routerLink]="['groups', profile.groupId, 'goods','new', 'edit']">상품등록</a></li>
    </ul> -->

    <div class="bg-white shadow">
      <h2 class="p-2 text-gray-800">프로필 전환</h2>
      <ul *ngIf="userProfileList$ | async as userProfileList">
        <li class="border-t border-gray-300" *ngFor="let userProfile of userProfileList">
          <ng-container *ngIf="userProfile.profileId | fsDocument:'profiles' | async as profile">
            <ng-container *ngIf="profile.groupId | fsDocument:'groups' | async as group">
              <button
                type="button"
                [disabled]="(selectedProfileId$ | async) === profile.id"
                (click)="onClickSelectProfile(profile)"
                class="flex justify-between items-center w-full p-2 border-0 bg-transparent text-gray-800">
                <img [src]="profile.photoURL || 'https://via.placeholder.com/150'" class="w-8 h-8 rounded-full mr-2" alt="">
                <span class="flex-grow text-left text-sm ellipsis">{{ profile.displayName }}</span>
                <span class="inline-block px-2 py-1 bg-green-600 text-white text-xs leading-tight uppercase">
                  {{ group.name }}
                  {{ (selectedProfileId$ | async) === profile.id ? '선택됨' : '' }}
                </span>
              </button>
            </ng-container>
          </ng-container>
        </li>
      </ul>
      <a [routerLink]="['preference/groups']" class="block p-2 bg-green-600 text-white text-center text-sm">그룹추가</a>
    </div>
  </ng-container>
</div>
