rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /fcmTokens/{fcmToken} {
      allow read, write: if request.auth.uid != null;
    }
    match /goods/{goods} {
      allow read, write: if true;
    }
    match /goodsComments/{goodsComment} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /goodsFavorites/{goodsFavorite} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /groups/{group} {
      allow read: if true;
      allow write: if false;
    }
    match /profiles/{profile} {
      allow read, write: if request.auth.uid != null;
    }
    match /userProfiles/{userProfile} {
      allow read, write: if request.auth.uid != null;
    }
    match /userGroups/{userGroup} {
      allow read, write: if request.auth.uid != null;
    }
  }
}
