<h2>회원가입</h2>
<form
  appPasswordValidator
  [formGroup]="signUpForm"
  (ngSubmit)="submit()">
  <div>
    <label for="account">이메일 주소</label>
    <input
      id="account"
      name="account"
      type="account"
      formControlName="account"
      required>
    @
    <label for="domain" style="display:none">도메인</label>
    <select
      id="domain"
      name="domain"
      formControlName="domain"
      required>
      <option value="">도메인 선택</option>
      <option value="webtoonscorp.com">webtoonscorp.com</option>
      <option value="navercorp.com">navercorp.com</option>
    </select>
  </div>
  <div *ngIf="account.invalid && (account.dirty || account.touched)">
    이메일 계정을 입력하세요.
  </div>
  <div *ngIf="domain.invalid && (domain.dirty || domain.touched)">
    이메일 도메인을 선택하세요.
  </div>
  <div>
    <label for="password1">비밀번호 입력</label>
    <input
      id="password1"
      name="password1"
      formControlName="password1"
      type="password"
      minlength="2"
      required>
    <div *ngIf="password1.invalid && (password1.dirty || password1.touched)">
      패스워드를 입력하세요.
    </div>
    <br>
    <label for="password2">비밀번호 확인</label>
    <input
      id="password2"
      name="password2"
      formControlName="password2"
      type="password"
      minlength="2"
      required>
  </div>
  <div *ngIf="password2.invalid && (password2.dirty || password2.touched)">
    패스워드를 확인하세요.
  </div>
  <div *ngIf="signUpForm.errors?.passwordMismatch && (password2.dirty || password2.touched)">
    패스워드가 일치하지 않습니다.
  </div>
  <div>
    <button
      type="submit"
      [disabled]="!signUpForm.valid">
      {{ submitting ? '보내는 중...' : '이메일 보내기' }}
    </button>
  </div>
</form>
