<ul>
  <li *ngFor="let img of imageFileOrUrls; index as i">
    <div
      *ngIf="img.type === 'file'"
      class="thumbnail"
      [style.transform] = "'rotate(' + img.rotate + 'deg)'"
      [style.backgroundImage]="'url(' + (img.file | objectUrl) + ')' | sanitizer: 'style'">
    </div>
    <div
      *ngIf="img.type === 'url'"
      class="goods_thumb"
      [style.backgroundImage]="'url(' + (img.url | sanitizer: 'url' ) + ')'">
    </div>
    <div>
      <span>rotate: ({{ img.rotate }})</span>,
      <button type="button" (click)="onClickMoveImage(i, i - 1)">&#62;</button>
      <button type="button" (click)="onClickMoveImage(i, i + 1)">&#60;</button>
      <button type="button" (click)="onClickRotateImage(img, 90)">rr</button>
      <button type="button" (click)="onClickRotateImage(img, -90)">rl</button>
      <button type="button" (click)="onClickDeleteImage(i)">d</button>
    </div>
  </li>
</ul>
<input
  type="file"
  accept="image/gif, image/jpeg, image/png"
  multiple
  (change)="onChangeFile($event)">
