<ng-container *ngIf="(goodsList$ | async) as goodsList">
  <ul class="w-full max-w-xl py-2 mx-auto">
    <li
      class="goodsItem relative"
      [ngClass]="{'soldout': goods.soldOut}"
      *ngFor="let goods of goodsList; index as i">
      <a [routerLink]="[goods.id]" class="flex flex-col md:flex-row w-full md:h-40">
        <div
          class="md:w-5/12 h-40 md:h-auto bg-gray-200">
          <div class="image-list h-full">
            <ng-container *ngFor="let src of goods.images">
              <div class="flex relative image-item min-w-full h-full">
                <img [src]="src" class="object-cover">
              </div>
            </ng-container>
          </div>
        </div>
        <div class="relative md:w-7/12 px-4 py-3 md:pb-16">
          <h3 class="goodsName">{{ goods.soldOut ? '[판매완료]' : '' }} {{ goods.name }}</h3>
          <div class="font-bold">{{ goods.price | number:'2.' }}원</div>
          <span class="absolute right-0 bottom-0 px-4 py-3 text-sm leading-relaxed text-gray-500">
            댓글 {{ goods.commentsCnt }}개 &middot; 좋아요 {{ goods.favoritesCnt }}개 &middot; {{ goods.created | fsTimestamp | formatDistanceToNow }} 전
          </span>
        </div>
      </a>
    </li>
  </ul>
</ng-container>

<a [routerLink]="['new', 'edit']" class="fixed left-0 bottom-0 bg-green-700 text-white p-2 m-2">상품등록</a>
