<div class="w-full max-w-xl mx-auto">
  <div
    class="mt-5"
    *ngIf="profile$ | async as profile">
    <div class="w-32 h-32 mx-auto overflow-hidden rounded-full">
      <img [src]="profile.photoURL || 'https://via.placeholder.com/150'" class="w-full h-full" alt="">
    </div>
    <div>
      <div>{{ profile.displayName }}</div>
      <div>{{ profile.email }}</div>
    </div>
  </div>

  <ul *ngIf="groupWithProfiles$ | async as groups">
    <li *ngFor="let group of groups">
      {{ group.name }} / {{ group.profile.displayName }}({{ group.profile.email }}) / {{ group.profile.created | fsTimestamp | formatDistanceToNow }}
    </li>
  </ul>

  <ul>
    <li><button type="button" (click)="onClickGoodsListType('write')">등록한 상품</button></li>
    <li><button type="button" (click)="onClickGoodsListType('favorite')">좋아요 상품</button></li>
  </ul>

  <ng-container [ngSwitch]="goodsListType$ | async">
    <ng-container *ngSwitchCase="'write'">
      <h3>등록한 상품</h3>
      <ul class="grid grid-cols-3 md:grid-cols-4 gap-1 p-1" *ngIf="writeGoodsList$ | async as goodsList">
        <li *ngFor="let goods of goodsList">
          <ng-container *ngTemplateOutlet="goodsTemplate; context: {goods: goods}"></ng-container>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'favorite'">
      <h3>관심 상품</h3>
      <ul class="grid grid-cols-3 gap-1 p-1" *ngIf="favoriteGoodsList$ | async as goodsList">
        <li *ngFor="let goods of goodsList">
          <ng-container *ngTemplateOutlet="goodsTemplate; context: {goods: goods}"></ng-container>
        </li>
      </ul>
    </ng-container>
  </ng-container>
</div>


<ng-template #goodsTemplate let-goods="goods" class="goodsItem">
  <div>
    <div class="relative square">
      <img
        [src]="goods.images[0]"
        class="absolute l-0 t-0 w-full h-full object-cover"
        alt="">
    </div>
  </div>
  <!-- <div class="relative md:w-7/12 px-4 py-3 md:pb-16">
    <a [routerLink]="['/goods', goods.id]">
      {{ goods.name }} / {{ goods.price }} / 댓글: {{ goods.commentsCnt }} / 좋아요: {{ goods.favoritesCnt }} / {{ goods.created | fsTimestamp | formatDistanceToNow }}
    </a>
  </div> -->
</ng-template>
