<h2>이메일 인증</h2>

<ng-container *ngIf="(step$ | async) === 'account'">
  <div>
    이메일을 입력하세요.<br>
    입력한 이메일로 인증번호를 보냅니다.
  </div>
  <form
    [formGroup]="accountForm"
    (ngSubmit)="submit()">
    <div>
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="account">이메일 주소</label>
      <input
        class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
        type="text"
        id="account"
        name="account"
        formControlName="account"
        required>
      @
      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="domain" style="display:none">도메인</label>
    </div>
    <div>
      <select
        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="domain"
        name="domain"
        formControlName="domain"
        required>
        <option value="">도메인 선택</option>
        <option *ngFor="let domain of (domains$ | async)" [value]="domain">{{ domain }}</option>
      </select>
    </div>
    <div *ngIf="accountCtl.invalid && (accountCtl.dirty || accountCtl.touched)">
      이메일 계정을 입력하세요.
    </div>
    <div *ngIf="domainCtl.invalid && (domainCtl.dirty || domainCtl.touched)">
      이메일 도메인을 선택하세요.
    </div>
    <div>
      <button
        class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
        type="submit"
        [disabled]="submitted || !accountForm.valid">
        {{ submitted ? '보내는 중...' : '이메일 보내기' }}
      </button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="(step$ | async) === 'verification'">
  <div>
    {{ accountCtl.value }}@{{ domainCtl.value }}(으)로 인증메일을 보냈습니다.
  </div>
  <div>
    <button type="button" (click)="verify()">인증완료</button>
  </div>
  <div>
    <button type="button" (click)="retry()">이메일 다시 보내기</button>
  </div>
</ng-container>
