<ng-container *ngIf="goods$ | async as goods ">
  <h2>{{ goods.name }}</h2>
  <ul>
    <li *ngFor="let image of goods.images" style="float:left"><img [src]="image" width="100" alt=""></li>
  </ul>
  <div style="clear:both"></div>
  <div>{{ goods.price }}</div>
  <div>{{ goods.memo }}</div>
  <div>{{ goods.contact }}</div>
  <br>
  <br>
  <a *ngIf="canEdit" [routerLink]="['edit']">수정</a>
  <br>
  <br>
  <app-goods-comment-list></app-goods-comment-list>
  <br>
  <app-goods-comment-form *ngIf="user$ | async" [goodsId]="goods.id"></app-goods-comment-form>
</ng-container>



