<div class="h-safe-top"></div>
<div class="h-header"></div>
<ng-container *ngIf="goods$ | async as goods">
  <div class="fixed left-0 header-top w-full z-30">
    <div class="px-safe border-b border-gray-300 bg-white bg-opacity-95">
      <div class="relative w-full mx-auto px-12">
        <div class="absolute inset-y-0 left-0 flex">
          <button type="button" class="p-3 border-0 flex items-center" (click)="onClickHistoryBack()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g fill="none" fill-rule="evenodd" transform="translate(3 3)">
                <path stroke="#4A5568" stroke-linecap="round" stroke-width="2" d="M7 17.167L0 9.016 6.916 0.833"/>
                <rect width="19" height="1.867" y="8.067" fill="#4A5568" rx=".933"/>
              </g>
            </svg>
          </button>
        </div>
        <h1 class="h-12 p-3 text-center font-bold text-lg text-gay-900 ellipsis">
          <ng-container [ngSwitch]="intersected">
            <span *ngSwitchDefault>상품정보</span>
            <span *ngSwitchCase="true">{{ goods.name }}</span>
          </ng-container>
        </h1>
      </div>
    </div>
  </div>
  <div class="w-full min-h-screen mx-auto flex flex-col sticky-wrap">
    <div *ngIf="goods.images.length > 0">
      <img [src]="goods.images[0]" (load)="onLoadHeroImage()" class="w-full" alt="" [ngClass]="{'opacity-50': goods.soldOut}">
      <div class="absolute left-0 top-0 m-3 px-safe pointer-events-none" *ngIf="goods.soldOut">
        <span class="bg-black bg-opacity-75 rounded-md text-xs text-white px-2 py-1">거래완료</span>
      </div>
    </div>
    <ng-container *ngIf="heroImageLoaded$ | async">
      <div class="px-safe">
        <div class="p-4">
          <h2 class="text-xl leading-tight break-words" #goodsNameRef>{{ goods.name }}</h2>
          <div class="mt-2 flex justify-between items-end">
            <div class="flex-none text-sm leading-relaxed text-gray-500 flex items-center -my-1">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle mr-px" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" />
                <line x1="12" y1="12" x2="12" y2="12.01" />
                <line x1="8" y1="12" x2="8" y2="12.01" />
                <line x1="16" y1="12" x2="16" y2="12.01" />
              </svg>
              <span class="ml-px mr-2">{{ goods.commentsCnt }}</span>
              <span class="flex items-center" [ngClass]="{'text-green-500': (favorited$ | async) === true}" (click)="onClickFavorite()">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-thumb-up mr-px" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3" />
                </svg>
                <span class="ml-px" [ngClass]="{'text-green-500': (favorited$ | async) === true}">{{ goods.favoritesCnt }}</span>
              </span>
            </div>
            <div>
              <div class="text-xl text-right"><strong class="font-bold">{{ goods.price | number:'1.0-0' }}</strong>원</div>
              <div class="text-xs leading-tight text-gray-500 text-right">등록일 {{ goods.created | fsTimestamp | date:'yyyy.MM.dd HH:mm' }}</div>
            </div>
          </div>
          <div class="h-px bg-gray-300 mt-3"></div>
          <p class="mt-4 leading-tight whitespace-pre-wrap break-words text-gray-700" [innerHTML]="goods.memo | linkify"></p>
          <br />
          <ul class="leading-tight text-gray-700">
            <li>- 제품상태: {{ goods.condition | goodsCondition }}</li>
            <li>- 구매시기: {{ goods.purchased | goodsPurchased }}</li>
          </ul>
          <br />
          <div class="leading-tight">
            <ng-container *ngFor="let tag of goods.tags?.origin">
              <a [routerLink]="['/', 'goods', 'search']" [queryParams]="{tag:tag}" class="inline-block text-green-500 underline mr-1">#{{ tag }}</a>
            </ng-container>
          </div>
          <ng-container *ngIf="goods.images.length > 1">
            <ul class="goods-images mt-3">
              <ng-container *ngFor="let src of goods.images; index as i">
                <li class="relative border border-white">
                  <a
                    routerLink="./"
                    [queryParams]="{image: i}">
                    <div class="attachImage"><img [src]="src" class="image" alt=""></div>
                  </a>
                </li>
              </ng-container>
            </ul>
          </ng-container>
          <app-goods-images
            *ngIf="(goodsImage$ | async) > -1"
            [images]="goods.images"
            [selected]="goodsImage$ | async">
          </app-goods-images>
        </div>
      </div>
      <div class="px-safe border-t border-gray-300">
        <div
          class="flex items-center p-3"
          *ngIf="goods.profileId | fsDocument:'profiles' | async as profile">
          <img [src]="profile.photoURL || 'https://via.placeholder.com/150'" class="w-12 h-12 rounded-full mr-2 flex items-center object-cover" alt="">
          <div class="leading-tight">
            <div class="break-words">{{ profile.displayName }}</div>
            <div class="text-sm text-gray-500 break-all">{{ goods.contact }}</div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="permission$ | async">
        <div class="sticky safe-top z-20 bg-white">
          <div class="flex justify-between items-center px-safe bg-blue-800 bg-opacity-50">
            <div class="flex-grow px-3 py-2 text-sm leading-snug text-white flex justify-end items-center">
              <a [routerLink]="['/', 'goods', goods.id ,'edit']" class="whitespace-no-wrap">
                수정하기
              </a>
              &nbsp;&middot;&nbsp;
              <button type="button" class="whitespace-no-wrap" (click)="onClickDelete(goods)">
                삭제하기
              </button>
              &nbsp;&middot;&nbsp;
              <button type="button" class="whitespace-no-wrap" (click)="onClickSoldOut()">
                {{ goods.soldOut ? '거래중으로' : '거래완료로' }} 변경
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="flex-grow min-h-50vh flex flex-col">
        <div app-goods-comment-list [goods]="goods" class="relative flex-grow px-safe bg-gray-400"></div>
        <div app-goods-comment-form [goodsId]="goods.id" class="px-safe pb-safe border-t border-gray-400 bg-white"></div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="empty$ | async">
  <div>상품이 없습니다.</div>
</ng-container>

<router-outlet></router-outlet>
