<div class="p-2">
  <form
    class="relative w-full pr-10"
    [formGroup]="commentForm"
    (ngSubmit)="onSubmit()">
    <div class="relative">
      <div class="block w-full py-2 px-3 border leading-tight whitespace-pre-wrap opacity-0">
        {{ body.value }}
      </div>
      <div class="absolute inset-0">
        <textarea
          #body
          class="w-full h-full border border-gray-300 m-0 bg-gray-200 leading-tight rounded-xxlg"
          formControlName="body"
          minlength="2"
          maxlength="200"
          rows="1"
          placeholder="메시지를 입력하세요"
          required></textarea>
      </div>
    </div>
    <div
      class="absolute right-0 top-0 w-10">
      <button
        class="w-full p-1 border-transparent leading-tight text-green-700"
        type="submit"
        [disabled]="commentForm.invalid || submitting">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right-circle" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <circle cx="12" cy="12" r="9" />
          <line x1="16" y1="12" x2="8" y2="12" />
          <line x1="16" y1="12" x2="12" y2="16" />
          <line x1="16" y1="12" x2="12" y2="8" />
        </svg>
      </button>
    </div>
  </form>
</div>
