<div class="sign-wrap">
  <h2 class="p-2 text-green-700">로그인</h2>
  <div class="block w-full max-w-xs mx-auto" *ngIf="(redirect$ | async) === false">
    <div>
      <a href="#" class="p-1 border border-gray-400 text-sm flex items-center" (click)="onClickSignIn($event, 'google')">
        <span class="w-10 h-10 bg-gray-500 mr-4" style="background-color: #dd4b39;"></span>
        SIGN UP WITH GOOGLE
      </a>
    </div>
    <div class="mt-2">
      <a href="#" class="p-1 border border-gray-400 text-sm flex items-center" (click)="onClickSignIn($event, 'facebook')">
        <span class="w-10 h-10 bg-gray-500 mr-4" style="background-color: #3b5998;"></span>
        SIGN UP WITH FACEBOOK
      </a>
    </div>
    <div class="mt-2">
      <a href="#" class="p-1 border border-gray-400 text-sm flex items-center" (click)="onClickSignIn($event, 'twitter')">
        <span class="w-10 h-10 bg-gray-500 mr-4" style="background-color: #55acee;"></span>
        SIGN UP WITH TWITTER
      </a>
    </div>
    <div class="mt-2">
      <a href="#" class="p-1 border border-gray-400 text-sm flex items-center" (click)="onClickSignIn($event, 'github')">
        <span class="w-10 h-10 bg-gray-500 mr-4" style="background-color: #444;"></span>
        SIGN UP WITH GITHUB
      </a>
    </div>
  </div>
</div>
