<h2>이메일 인증</h2>

<ng-container *ngIf="step === 'account'">
  <div>
    이메일을 입력하세요.<br>
    이메일을 통해 인증링크를 전송합니다.
  </div>
  <form
    [formGroup]="accountForm"
    (ngSubmit)="submit()">
    <div>
      <label for="account">이메일 주소</label>
      <input
        type="text"
        id="account"
        name="account"
        formControlName="account"
        required>
      @
      <label for="domain" style="display:none">도메인</label>
      <select
        id="domain"
        name="domain"
        formControlName="domain"
        required>
        <option value="">도메인 선택</option>
        <option *ngFor="let domain of (domains$ | async)" [value]="domain">{{ domain }}</option>
      </select>
    </div>
    <div *ngIf="accountCtl.invalid && (accountCtl.dirty || accountCtl.touched)">
      이메일 계정을 입력하세요.
    </div>
    <div *ngIf="domainCtl.invalid && (domainCtl.dirty || domainCtl.touched)">
      이메일 도메인을 선택하세요.
    </div>
    <div>
      <button
        type="submit"
        [disabled]="submitted || !accountForm.valid">
        {{ submitted ? '보내는 중...' : '이메일 보내기' }}
      </button>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="step === 'verification'">
  <div>
    {{ accountCtl.value }}@{{ domainCtl.value }}(으)로 인증메일을 보냈습니다.
  </div>
  <div>
    <button type="button" (click)="retry()">이메일 다시 보내기</button>
  </div>
</ng-container>

<ng-container *ngIf="step === 'verified'">
  <div>이메일을 인증했습니다. <a [routerLink]="['']">홈으로 이동</a></div>
</ng-container>
