<ng-container *ngIf="commentList$ | async as commentList">
  <ul>
    <li
      class="py-1"
      *ngFor="let comment of commentList">
      <div
        class="flex"
        *ngFor="let talk of comment; first as isFirst; last as isLast"
        [ngClass]="{'mine': talk.permission}">
        <div
          class="w-8 h-8 bg-white rounded-full flex items-center justify-center text-xs font-bold uppercase"
          [ngClass]="{'opacity-0': !isFirst}"
          *ngIf="!talk.permission">{{ talk.profileId.slice(0, 2) }}</div>
        <p class="talk mx-1 mb-1 shadow max-w-sm" (click)="onClickDelete(talk)">{{ talk.body }}</p>
        <div class="flex flex-row-reverse flex-shrink-0 items-end mb-1">
          <span class="text-xs flex-shrink-0 text-gray-400" *ngIf="isLast">{{ talk.created | fsTimestamp | date:'hh:mm' }}</span>
        </div>
      </div>
    </li>
  </ul>
</ng-container>
<div class="endline mt-2 mb-4" *ngIf="goods.soldOut">
  <p class="inline-block relative px-3 bg-gray-500">상품이 팔렸습니다.</p>
</div>
