<a
  *ngIf="goods"
  [routerLink]="['/goods', goods.id]"
  class="flex flex-col sm:flex-row w-full sm:h-48 p-3 sm:pt-0 sm:pb-3"
  [ngClass]="{'pointer-events-none': !exists}"
  (click)="onClickGoods($event, goods)">
  <div
    class="flex-shrink-0 relative sm:w-64 h-48 sm:h-auto">
    <div class="relative w-full h-full">
      <div
        class="image-list h-full rounded-lg"
        [ngClass]="{'opacity-50': goods.soldOut || !exists}">
        <ng-container *ngFor="let src of goods.images">
          <div class="flex relative image-item min-w-full h-full">
            <img [src]="src" class="w-full object-cover" alt="">
          </div>
        </ng-container>
      </div>
      <div
        class="absolute inset-0 rounded-lg pointer-events-none"
        style="box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.1);"></div>
      <div
        class="absolute right-0 bottom-0 mb-3 pt-px pl-3 pr-3 text-xl font-semibold tracking-wide text-black italic bg-black bg-opacity-50 pointer-events-none">
        {{ goods.price | number:'2.' }}
      </div>
      <div
        class="absolute right-0 bottom-0 mb-3 mr-3 pb-px pr-px text-xl font-semibold tracking-wide text-white italic pointer-events-none">
        {{ goods.price | number:'2.' }}
      </div>
      <div class="absolute left-0 top-0 m-2 bg-black bg-opacity-75 rounded-md text-xs text-white px-2 py-1 pointer-events-none" *ngIf="exists && goods.soldOut">
        거래완료
      </div>
      <div class="absolute left-0 top-0 m-2 bg-black bg-opacity-75 rounded-md text-xs text-white px-2 py-1 pointer-events-none" *ngIf="!exists">
        삭제한 상품
      </div>
    </div>
  </div>
  <div class="relative sm:flex-grow px-1 sm:px-4 pt-2 sm:pt-0 sm:pb-16" [ngClass]="{'opacity-50': goods.soldOut || !exists}">
    <h3 class="text-xl tracking-tight leading-tight">{{ goods.name }}</h3>
    <div class="hidden sm:block mt-1">
      <p class="line-clamp-2 text-gray-700 leading-tight">{{ goods.memo }}</p>
    </div>
    <div class="flex justify-between items-center sm:flex-col sm:items-baseline mt-1 sm:mt-0">
      <div class="flex-auto text-sm text-gray-500 sm:mt-2 overflow-hidden">
        <div class="ellipsis">
          <span class="inline-block mr-1">{{ goods.created | fsTimestamp | formatDistanceToNow }} 전</span>
          <ng-container *ngFor="let tag of goods.tags?.origin">
            <span class="inline-block mr-1">&middot; <span [ngClass]="{'font-bold text-red-500': keyword === tag}">{{ tag }}</span></span>
          </ng-container>
          <ng-container *ngIf="goods.tags?.origin.length === 0">
            <span class="inline-block mr-1">&middot; {{ goods.condition | goodsCondition }}</span>
            <span class="inline-block mr-1">&middot; {{ goods.purchased | goodsPurchased }}</span>
          </ng-container>
        </div>
      </div>
      <div class="flex-none text-sm leading-relaxed text-gray-500 flex items-center sm:mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-circle mr-px" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1" />
          <line x1="12" y1="12" x2="12" y2="12.01" />
          <line x1="8" y1="12" x2="8" y2="12.01" />
          <line x1="16" y1="12" x2="16" y2="12.01" />
        </svg>
        <span class="ml-px mr-2">{{ goods.commentsCnt }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart mr-px" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7" />
        </svg>
        <span class="ml-px">{{ goods.favoritesCnt }}</span>
        <!-- {{ goods.created | fsTimestamp | formatDistanceToNow }} 전 -->
      </div>
    </div>
  </div>
</a>
