<div
  appSwipe
  (swipeup)="onSwipeUp()"
  (swipedown)="onSwipeDown()"
  [style.opacity]="completed ? 1 : 0"
  class="fixed z-50 inset-0">
  <ul #scrollEl class="w-full h-full overflow-x-auto flex scroll-snap-x bg-black bg-opacity-90">
    <li *ngFor="let image of images; index as i" class="scroll-snap-start min-w-full h-full p-px">
      <img
        [src]="image" class="w-full h-full object-contain" alt=""
        (load)="onLoadImage($event, i === selected)"
        (click)="onClickImage()">
    </li>
  </ul>
  <div class="absolute right-0 header-top p-2 pointer-events-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="36" height="36" viewBox="0 0 24 24" stroke-width="1" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"/>
      <line x1="18" y1="6" x2="6" y2="18" />
      <line x1="6" y1="6" x2="18" y2="18" />
    </svg>
  </div>
</div>
