<div
  *ngIf="routePath === 'goods'"
  class="fixed left-0 header-top w-full z-30">
  <div class="px-safe border-b border-gray-300 bg-white bg-opacity-95">
    <div class="relative w-full mx-auto px-12">
      <div class="absolute inset-y-0 left-0 flex">
        <a [routerLink]="['/preference']" class="block p-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="#4A5568" fill-rule="evenodd" transform="translate(2 3)">
              <rect width="20" height="2" rx="1"/>
              <rect width="20" height="2" y="8" rx="1"/>
              <rect width="20" height="2" y="16" rx="1"/>
            </g>
          </svg>
          <span class="absolute right-0 top-0 w-1 h-1 m-2 rounded-full bg-red-600" *ngIf="(newMessagesCount$ | async) > 0"></span>
        </a>
      </div>
      <h1
        *ngIf="membership$ | async as membership"
        class="h-12 p-3 text-center font-bold text-lg text-green-500 ellipsis">
        <a routerLink="./">
          <span  class="uppercase">세컨드마켓@{{ membership.group.name }}</span>
        </a>
      </h1>
      <div class="absolute inset-y-0 right-0 flex">
        <a [routerLink]="['/goods', 'new', 'edit']" class="p-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
              <path stroke="#4A5568" stroke-width="2" d="M17.302 1c.74 0 1.407.319 1.89.827.502.526.808 1.254.808 2.056 0 .7-.235 1.343-.628 1.845h0L4.801 21H1v-4.09L15.611 1.64c.46-.398 1.048-.64 1.691-.64z"/>
              <rect width="11" height="2" x="9" y="20" fill="#4A5568" rx="1"/>
              <path stroke="#4A5568" stroke-width="2" d="M15 4L18 7"/>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
