/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-width: 320px;
  @apply bg-gray-200;
}

button {
  @apply py-2 px-4;
  @apply border border-blue-500 bg-blue-500;
  @apply text-white;
  &:disabled {
    @apply opacity-50;
  }
}

input,
select,
textarea {
  @apply block w-full py-2 px-3;
  @apply border-0 border-b-2 rounded-none border-gray-500 bg-white text-gray-700;
  @apply appearance-none;
  &:focus {
    @apply bg-white border-gray-500;
  }
}

.form-row {
  @apply flex flex-wrap -mx-1 mb-2;

  .form-col {
    @apply px-1;
  }
}

.form-label {
  @apply block px-3 pt-2 mb-0 uppercase tracking-wide text-gray-700 text-xs font-bold;
}

.goodsItem {
  @apply flex mb-2;
  @apply overflow-hidden;
  @apply bg-white shadow-lg;

  .goodsName {
    @apply overflow-hidden mb-2 leading-tight;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인 수 */
    -webkit-box-orient: vertical;
  }
}

.goodsDetail {
  .goodsName {
    @apply leading-tight;
  }
}

.soldout {
  opacity: 0.3;
}

.talk {
  border-radius: 1rem;
  @apply py-2 px-3 bg-gray-300 rounded-tl-none;
  @apply leading-tight;

  .mine & {
    border-radius: 1rem;
    @apply rounded-tr-none;
    @apply bg-white;
  }
}

.mine {
  @apply flex-row-reverse;
}

.square {
  padding-bottom: 100%;
}

.attachImage {
  position: relative;
  padding-bottom: 100%;
  .image {
    @apply absolute w-full h-full object-cover;
  }

  &.selected {
    @apply z-10;
    .image {
      @apply border-2 border-gray-700 bg-white;
      padding: 2px;
      transform: scale(1.1);
    }
  }
}

.endline {
  @apply relative text-gray-300 text-sm text-center;
  &:before {
    @apply absolute inset-y-0 left-0 right-0 w-full h-px m-auto bg-gray-400;
    content: '';
  }
}
